// Global Box Sizing
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

// Sizes
html {
    font-size: 62.5%;
}
input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
}

em {
    font-style: italic;
}

b,
strong {
    font-weight: var(--weight-bold);
}

sub,
sup {
    // Specified in % so that the sup/sup is the right size relative to the surrounding text.
    font-size: 75%;

    // Zero out the line-height so that it doesn't interfere with the positioning that follows.
    line-height: 0;

    // Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text.
    position: relative;
}

sup {
    // Move the superscripted text up.
    top: -0.5em;
}

sub {
    // Move the subscripted text down, but only half as far down as the superscript moved up.
    bottom: -0.25em;
}

img {
    max-width: 100%;
}
