.stack > * + * {
    margin-top: 2rem;
}
.stack--large > * + * {
    margin-top: 4rem;
    @include bp(d3) {
        margin-top: 4rem;
    }
}
.stack--small > * + * {
    margin-top: 1rem;
}

.cluster {
    display: flex;
    > * + * {
        margin-left: 1rem;
    }
    @include bp(d3) {
        display: block;
        > * + * {
            margin-left: 0;
            margin-top: 1rem;
        }
    }
}
